<div class="usa-alert usa-alert-success" *ngIf="connected">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Your Connection Request in in process.</h3>
    <p class="usa-alert-text">All requests must be approved by the practice. This usually takes 1-3 business days.</p>
    <p class="usa-alert-text">In the meantime, you can request to connect to any additional practices you need access to, or return to the <a [routerLink]="['/dashboard']">dashboard</a>.</p>
  </div>
</div>

<table class="usa-table-borderless">
  <thead>
  <tr>
    <th scope="col">Practice</th>
    <th scope="col">NPI</th>
    <th scope="col">Your Role</th>
    <th scope="col">Connect</th>
  </tr>
  </thead>
  <tbody app-provider-connection *ngFor="let provider of providers" [provider]="provider">
  </tbody>
</table>
