<section class="usa-grid usa-section">
  <!-- Show message if connected to practice -->
  <h2>Connect to practice</h2>
  <p>Enter the name or NPI of the practice you would like to connect to and click "search"</p>
  <p>Don't see the practice you're searching for? <a href="#">Contact Practice Registrar</a> or call 1-800-NNN-NNNN for assistance.</p>
  <div class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <p class="usa-alert-text">Your request will be in a "pending" state until it is approved by the practice.</p>
      <p class="usa-alert-text">This usually takes 1-3 business days. If you don't want to connect right now, <a [routerLink]="['/dashboard']">visit your dashboard</a>.</p>
    </div>
  </div>
  <div class="usa-grid margin-top-1">
    <h6>Practice name or NPI</h6>
    <div class="usa-width-one-half">
      <form class="usa-search usa-search-big">
        <div role="search">
          <label class="usa-sr-only" for="search-field-big">practice name or NPI</label>
          <input id="search-field-big" type="search" name="search" [(ngModel)]="model.query">
          <button type="submit" (click)="search()">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-provider-search-list [providers]="providers"></app-provider-search-list>
</section>
