$white: #FFFFFF;

.usa-color-text-white {
  color: $white;
}

.usa-color-text-primary {
  color: $color-primary;
}

.usa-color-text-green {
  color: $color-green;
}

.usa-color-text-secondary-dark {
  color: $color-secondary-dark;
}
