<section class="usa-grid usa-section">
  <div class="usa-width-one-third">
    <div class="usa-hero-callout usa-section-dark">
      <h2>{{currentUser.first_name}}</h2>
      <p>{{currentUser.company_name}}<br />{{currentUser.company_title}}</p>
      <hr/>
      <p>{{currentUser.address}}<br/>{{currentUser.city}}, {{currentUser.state}} {{currentUser.zip}}</p>
      <button>Change Password</button>
      <button [routerLink]="['/profile']">Edit Profile</button>
      <button [routerLink]="['/practice']">Manage Connections</button>
    </div>
  </div>

  <div class="usa-width-two-thirds">
    <h2>Dashboard {{currentUser.first_name}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
    <h3>Your Practices</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt commodo consequat. Duis aute irure dolor in reprehenderit.</p>
    <table class="usa-table-borderless">
      <thead>
      <tr>
        <th scope="col">Practice</th>
        <th scope="col">NPI</th>
        <th scope="col">Your Role</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let practice of practices | async">
        <th scope="row">{{practice.name}}</th>
        <td>{{practice.npi}}</td>
        <td>Authorized Official</td>
        <td><span class="usa-color-text" [ngClass]="{'usa-color-text-primary': practice.status === 'approved', 'usa-color-text-secondary-dark': practice.status ==='pending'}">{{practice.status}}</span></td>
      </tr>
      </tbody>
    </table>
    <a class="usa-button" [routerLink]="['/practice']">Connect To Practice</a>
    <hr/>

    <h3>Your Surrogates</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt commodo consequat. Duis aute irure dolor in reprehenderit.</p>
    <table class="usa-table-borderless">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Practice</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row">Sue</td>
        <!-- Maybe set the practice to a practice name that is already connected to the user -->
        <td>Presence Saint Francis Hospital</td>
        <td>Surrogate</td>
        <td><span class="usa-color-text usa-color-text-green">Approved</span></td>
        <td>
          <a href="">revoke access</a>
        </td>
      </tr>
      <tr>
        <td scope="row">John</td>
        <td>Presence Saint Francis Hospital</td>
        <td>Authorized Official</td>
        <td><span class="usa-color-text usa-color-text-secondary-dark">Pending</span></td>
        <td>
          <div class="button_wrapper">
            <button>Approve</button>
            <button class="usa-button-secondary">Deny</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
