<section class="usa-grid usa-section">
  <div class="usa-width-one-third">
    <div class="usa-hero-callout usa-section-dark">
      <h2>{{(currentUser|async).first_name}} {{(currentUser|async).last_name}}</h2>
      <p>{{(currentUser|async).company_name}}<br/>{{(currentUser|async).company_title}}</p>
      <hr/>
      <p>{{(currentUser|async).address}}<br/>{{(currentUser|async).city}}, {{(currentUser|async).state}} {{(currentUser|async).zip}}</p>
      <button>Change Password</button>
      <button [routerLink]="['/profile']">Edit Profile</button>
      <button><a class="usa-color-text-white text-decoration-none" href="/dashboard#your-connections">Manage Connections</a></button>
      <button><a class="usa-color-text-white text-decoration-none" href="/dashboard#your-users">Manage Users</a></button>
    </div>
  </div>




  <div class="usa-width-two-thirds">
    <div class="usa-alert usa-alert-success" *ngIf="(currentUser|async).connections != 0">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Your Connection Request is in process.</h3>
        <p class="usa-alert-text">Requests must be approved by the practice. This usually takes 1-3 business days.</p>
        <p class="usa-alert-text">You can view the status of your <a href="/dashboard#your-connections">connections</a> below or  <a [routerLink]="['/practice']">search and connect</a> to additional practices.</p>
      </div>
    </div>

    <h2>Welcome, {{currentUser.first_name}}</h2>
    <!-- only show this on first access -->
    <div *ngIf="(currentUser|async).dashboard_landings < 2">
      <p>Thanks for joining the Quality Payment Program community!</p>
      <p>Congratulations on completing your profile and connecting to a medical practice! You're well on your way to successfully using the Quality Payment Program system. We're glad to have you working with us in the quest to provide better care and smarter spending for a healthier America.</p>
    </div>
    <!-- end only show this on first access -->

    <p>Be sure to check out our <a href="#">Help & Frequently Asked Questions</a> section to learn about the features and programs which will help you get the most out of your QPP experience.</p>

    <h2>Your Dashboard</h2>

    <h3 id="your-connections">Connections</h3>
    <p>Need to check on the status of your request to connect to a medical practice? Look no further. Check below to see successfully connected practices and those you're still awaiting confirmation from.</p>
    <table class="usa-table-borderless">
      <thead>
      <tr>
        <th scope="col">Practice</th>
        <th scope="col">NPI</th>
        <th scope="col">Your Role</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let connection of (currentUser|async).connections">
        <th scope="row">{{connection.provider.name}}</th>
        <td>{{connection.provider.npi}}</td>
        <td>{{getRoleName(connection.role)}}</td>
        <td><span class="usa-color-text"
                  [ngClass]="{'usa-color-text-primary': connection.status === 'approved',
                  'usa-color-text-secondary-dark': connection.status ==='pending'}">
          Pending</span>
        </td>
      </tr>
      </tbody>
    </table>
    <a class="usa-button" [routerLink]="['/practice']">Request to Connect to Practice</a>
    <hr/>

    <h3 id="your-users">Users</h3>
    <p>Need to manage users that can act as a surrogate on behalf of you and the medical practice you manage quality submissions for? Look under Connections to see requests that you can approve or deny. If you need to revoke a user's access, you can also do that from this Dashboard.</p>
    <table class="usa-table-borderless">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Practice</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row">Sue</td>
        <!-- Maybe set the practice to a practice name that is already connected to the user -->
        <td>Presence Saint Francis Hospital</td>
        <td>Surrogate</td>
        <td><span class="usa-color-text usa-color-text-green">Approved</span></td>
        <td>
          <a href="">revoke access</a>
        </td>
      </tr>
      <tr>
        <td scope="row">John</td>
        <td>Presence Saint Francis Hospital</td>
        <td>Authorized Official</td>
        <td><span class="usa-color-text usa-color-text-secondary-dark">Pending</span></td>
        <td>
          <div class="button_wrapper">
            <button>Approve</button>
            <button class="usa-button-secondary">Deny</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
