<section class="usa-grid usa-section">
  <h2>Complete Account Setup</h2>

  <input id="carver" type="checkbox" name="historical-figures-1" disabled>

  <div class="usa-alert usa-alert-success">
    <div class="usa-alert-body">
      <!-- change message based on what step user is in the process -->
      <h3 class="usa-alert-heading">Your account has been verified</h3>
      <ul class="usa-unstyled-list">
        <li>
          <input id="create-account" type="checkbox" onclick="this.checked=!this.checked;" checked>
          <label for="create-account">Create a new account</label>
        </li>
        <li>
          <input id="look-for-account" type="checkbox" onclick="this.checked=!this.checked;" checked>
          <label for="look-for-account">Look for the email in your inbox</label>
        </li>
        <li>
          <input id="click-verification" type="checkbox" onclick="this.checked=!this.checked;" checked>
          <label for="click-verification">Click the verification link</label>
        </li>

        <li *ngIf="currentUser.step == 'profile'">
          <input id="complete-profile" type="checkbox" [routerLink]="['/profile']" class="cursor-pointer">
          <label for="complete-profile"><a [routerLink]="['/profile']">Complete profile</a></label>
        </li>
        <li *ngIf="currentUser.step == 'connect'">
          <input id="complete-profile" type="checkbox" onclick="this.checked=!this.checked;" checked>
          <label for="complete-profile">Complete profile</label>
        </li>
        <li *ngIf="currentUser.step == 'connect'">
          <input id="connect-practices" type="checkbox" [routerLink]="['/practice']" class="cursor-pointer">
          <label for="connect-practices"><a [routerLink]="['/practice']">Request to Connect to Practices</a></label>
        </li>
      </ul>
    </div>
  </div>
  <div class="button_wrapper">
    <!-- change button style based on what step user is in the process -->
    <button class="usa-button-outline-inverse usa-button-hover" disabled>
      Confirm Account
    </button>
    <button
        [ngClass]="{'usa-button usa-button-big': currentUser.step === 'profile',
        'usa-button-outline-inverse usa-button-hover': currentUser.step != 'profile'}"
        [routerLink]="['/profile']" [disabled]="currentUser.step != 'profile'">
      Complete Profile
    </button>
    <button
        [ngClass]="{'usa-button usa-button-big': currentUser.step === 'connect',
        'usa-button-outline-inverse usa-button-hover': currentUser.step != 'connect'}"
        [routerLink]="['/practice']" [disabled]="currentUser.step != 'connect'">
      Connect with Practice
    </button>
  </div>
</section>
